<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="procedure_form">
        <%= render 'shared/procedure_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">


    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
              "https://rubyonrails.org/" %>
<% end %>

  <div class="col-md-8">
    <% if @procedures %>
      <h3>レシピ一覧 (<%= @procedures.count %>)</h3>
      <ol class="procedures">
        <%= render @procedures %>
      </ol>
      <%#下のコード＋この上のifを@recipes.any?でページ番号出るはず%>
      <%#= will_paginate @recipes %>
    <% end %>
  </div>